.sbx{
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: background-color 0.5s ease;
}
.sbx:hover{
  background-color: black;
  color: white;
}