.discount-title {
  font-size: 3.6rem;
  line-height: 1.2;
}

.discount-text {
  font-size: 1.05rem;
  line-height: 1.8;
}

@media (max-width: 992px) {
  .discount-title {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .discount-title {
    font-size: 2.3rem;
  }

  .discount-text {
    font-size: 1rem;
  }
}
