.image-box {
    background-color: #e6f3fa;
}

.product-img {
    width: 100%;
    max-width: 350px;
    height: auto;
    object-fit: contain;
}
.sbx{
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: background-color 0.5s ease;
}
.sbx:hover{
  background-color: black;
  color: white;
}
@media (max-width: 768px) {
    .product-img {
        max-width: 260px;
        margin-bottom: 20px;
    }

  .offer-card {
    background-position: center bottom;
    background-size: 180px;
    padding-bottom: 120px;
  }
}
